{% extends "base.html" %}

{% load pagination %} <!-- carrega o arquivo pagination.py-->

{% block title %}
    Listagem de Produtos | {{block.super}}
{% endblock %}

{% block container %}
<div class="page-header">
    <h1>Produtos</h1>
</div>
<div class="row">
    {% for product in produtos %}
    {% include "catalog/_product.html" %} <!-- inclusao deste arquivo numa listagem-->
    {% endfor %}
</div>
{% pagination request paginator page_obj %} <!-- aqui voce chama o paginator que é sua templatetag com os parametros que foram definidos no pagination,py -->
{% endblock %}